.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
}
.li{
    float: left;
}

.active{
  display: block;
  color: #006491;
  text-align: center;
  padding: 20px 20px;
  font-family: Impact,'Arial Narrow Bold', sans-serif;
  text-decoration: none;
}
li a:hover {
    background-color: lightskyblue;
  }
.h1{
    color: black;
    font-size: 3.4em;
}
.h3{
    color:#006491;
}